* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  background: #f8fafc;
  color: #0f172a;
  max-width: 1440px;
}

.app-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
