@use "sass:meta";

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fade-down-fast($duration: 0.2s, $ease: ease-out) {
  @keyframes fadeDownFast {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  animation: fadeDownFast $duration $ease forwards;
}
