@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($properties, $duration: 0.3s, $ease: ease-in-out) {
  transition: $properties $duration $ease;
}

@mixin box-shadow($shadow...) {
  box-shadow: $shadow;
}


@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin button-styles($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  @include transition(all);

  &:hover {
    opacity: 0.8;
  }
}
