@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as vars;

.filter-dropdown {
  width: 270px;
  padding: 1rem;
  background: vars.$white-bg;
  border: 1px solid #e5e9f2;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  @include mixins.fade-down-fast(0.3s, ease-in-out);

  @include mixins.flex-center;
  flex-direction: column;
  gap: 14px;

  .field {
    display: flex;
    flex-direction: column;
    gap: 6px;

    label {
      font-size: 14px;
      font-weight: 500;
      color: vars.$primary-text-color;
      text-transform: none;
    }

    input,
    select {
      height: 40px;
      width: 230px;
      padding: 0 12px;
      font-size: 13px;
      border-radius: 8px;
      border: 2px solid #dfe3eb;
      outline: none;
      color: #545f7d;

      &:focus {
        border-color: vars.$primary-bg-color;
      }
    }

    select {
      background-color: vars.$white-bg;
      cursor: pointer;
    }
  }

  .actions {
    display: flex;
    gap: 12px;
    margin-top: 8px;

    button {
      height: 40px;
      border-radius: 8px;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
    }

    .reset {
      background: vars.$white-bg;
      border: 1px solid vars.$primary-text-color;
      color: vars.$primary-text-color;
      width: 98px;

      &:hover {
        background-color: darken(#fcfcfc, 2%);
      }
    }

    .filter {
      background: vars.$primary-bg-color;
      border: none;
      color: vars.$white-bg;
      width: 98px;

      &:hover {
        background-color: darken(vars.$primary-bg-color, 5%);
      }
    }
  }
}
