@use "../../styles/mixins" as mixins;

.dashboard-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  background: #ffffff;
  @include mixins.flex-center;
  justify-content: space-between;
  padding: 0 60px 0px 30px;
  border-bottom: 1px solid #e5e9f2;
  font-family: "Work Sans", sans-serif;
  z-index: 1000;
}


.navbar-left {
  @include mixins.flex-center;
}

.navbar-logo {
  height: 30px;
}

.navbar-search {
  @include mixins.flex-center;
  width: 400px;
  margin-left: 10.3rem;
  border: 1px solid #dcdfe8;
  border-radius: 8px;
  overflow: hidden;

  input {
    flex: 1;
    border: none;
    padding: 11.6px;
    width: 344px;
    font-size: 14px;
    outline: none;

    &::placeholder {
      color: #b0b5c0;
    }
  }

  button {
    background: #39cdcc;
    border: none;
    padding: 13px 21px;
    height: 100%;
    @include mixins.flex-center;
    cursor: pointer;

    &:hover {
      background-color: darken(#39cdcc, 5%);
    }
  }
}

.navbar-right {
  @include mixins.flex-center;
  gap: 30px;
}

.docs-link {
  font-size: 14px;
  color: #213f7d;
  text-decoration: underline;
  font-family: "Roboto", sans-serif;

  &:hover {
    color: darken(#213f7d, 10%);
    text-decoration: none;
  }
}

.notification-btn {
  background: none;
  border: none;
  cursor: pointer;
  color: #213f7d;
}

.user-profile {
  @include mixins.flex-center;
  gap: 10px;
  cursor: pointer;
}

.user-avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  object-fit: cover;
}

.username {
  font-size: 14px;
  font-weight: 500;
  color: #213f7d;
}
