@use "../../../styles/mixins" as mixins;
@use "../../../styles/variables" as vars;

.stats-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.889rem;
  padding-top: 1rem;
  padding-bottom: 3rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.667rem;
  }
}

.stats-card {
  background: vars.$white-bg;
  border-radius: 8px;
  padding: 1.5rem;
  gap: 1rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.03);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  @media (max-width: 1024px) {
    padding: 1rem;
  }

  &:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  }

  .icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    @include mixins.flex-center;

    &.purple {
      background: #df18ff15;
    }

    &.blue {
      background: #5718ff15;
    }

    &.orange {
      background: #f55f4415;
    }

    &.pink {
      background: #ff336615;
    }
  }

  .content {
    padding-top: 0.75rem;

    .label {
      font-size: 0.875rem;
      font-weight: 500;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: vars.$primary-text-color;
      padding-bottom: 0.5rem;

      @media (max-width: 1024px) {
        font-size: 0.675rem;
      }
    }

    .value {
      font-size: 1.5rem;
      font-weight: 600;
      color: #111827;

      @media (max-width: 1024px) {
        font-size: 1.25rem;
      }
    }
  }
}
